@model ShipperResponseModel
<h1>Are you sure you want to delete this shipper? </h1>
<form asp-action="delete" asp-controller="Shipper">
    <div>
        <label>Name</label>
        <input type="text" disabled value="@Model.Name" name="Name" class="form-control" />
        <label>Email</label>
        <input type="text" disabled value="@Model.EmailId" name="Email" class="form-control" />
        <label>Phone</label>
        <input type="text" disabled value="@Model.Phone" name="Phone" class="form-control" />
        <label>Contact Person</label>
        <input type="text" disabled value="@Model.ContactPerson" name="ContactPerson" class="form-control" />
        <input type="hidden" value="@Model.Id" name="Id" />
    </div>
    <button class="btn btn-danger">Delete</button>

</form>